Описание задания
Ваше задание создать приложения для игры в ферму. Приложение должно отображать поле с растениями в определенной стадии роста,
выполнять команды посадить, вырастить, собрать.
Все команды следует отсылать серверу для обработки и сохрания данных 
игры в базе данных.

Клиентская часть на ActionScript 3
Входные данные:
На вход приложения поступают xml с сервера, описанного во второй части. 
В xml файлах в виде иерархической структуры описано игровое поле.
На поле по указанным координатам расположены растения определенного
 типа и стадии роста.
Изображения растений, соответствующие каждой стадии роста,
 должны подгружаться динамически.
 
Действия:
Приложение должно содержать кнопки, по которым отправляется комманда на сервер. В ответ сервер отсылает обновленное состояние игры, которое отображается в клиенте. При этом важно, чтобы обновлялись лишь те объекты на поле, у которых изменились параметры.

Список кнопок:

    * Посадить определенное растение - посадка выбранного растения по координатам, указанным мышкой.
    * Собрать растение - удаляет растение с поля
    * "Сделать ход" - выращивает все растения на одну единицу роста


Дополнительно:
Следует реализовать перетаскивание поля по зажатой клавиши мыши (drag)
- Все ресурсы не должны быть частью флешки, т.е. должны храниться отдельно на сервере, загружаться динамически. 
- Не следует несколько раз загружать одни и те же ресурсы. 
- Ресурсы которые не используются - загружаться не должны.

Детали:
Три разновидности растений:

    * клевер
    * подсолнух
    * картофель

Всего 5 стадий роста: первая стадия -
 только посадили, пятая стадия - выросшее растение,
 которое можно собрать

Ресурсы:
BG.jpg - подобным образом должно выглядеть поле
REF.jpg - несколько посаженных растений, различные стадии роста
REF.xml - пример xml описания поля игры

clover, sunflower, potato - содержат картинки с 
пронумерованными стадиями роста

Ссылка на ресурсы: http://77.91.226.162/img/test_task_resource.zip 

Процесс разработки:
В процессе разработки необходимо использовать компилятор mxmlc,
 входящий в состав Flex SDK (
 ) и среды разработки Flash Builder.
Для сборки проекта необходимо использовать фреймворк sprouts (http://projectsprouts.org/).
Фреймфорк реализован на Ruby, необходимо установить Ruby и RubyGems.
 
Работа с контролем версий
Создать аккаунт на github.com и все результаты работы выкладывать туда, чем больше коммитов тем лучше.


Серверная часть
Задача:
Создать сервер для работы описанной в первой части игры. Сервер должен обрабатываеть комманды клиента,
сохранять обновленное состояние игры в базу данных и передавать новое состояние игры в виде xml файла.
Ресурсы игры так же должны загружаться с сервера. 

Язык программирования:
В ходе выполнения тестового задания вы можете использовать
 один из следующих языков программирования:
 Ruby, Python, C, C++. В ходе работы вы будете использовать язык 
 Ruby, так что следует отдать приоритет данном языку.

База данных:
Любая sql база данных. Предпочтительно Postgresql.

Комманды:
Сервер должен принимать и обрабатывать следующие комманды:

    * Посадить выбранное растение на поле
    * Собрать растение с поля
    * Вырастить все растения на поле на единицу роста
